// - - - - - - - - - - - - - - - - - - - - - - - - -
// Object: _callouts
// - - - - - - - - - - - - - - - - - - - - - - - - -

// - - - - - - - - - - - - - - - - - - - - - - - - - 
// Variables
// - - - - - - - - - - - - - - - - - - - - - - - - -
$o-callout-padding: $spacing-secondary;
$o-callout-spacing: $spacing-tertiary;

// - - - - - - - - - - - - - - - - - - - - - - - - - 
// Call Out
// - - - - - - - - - - - - - - - - - - - - - - - - -
.o-callout {
  padding: $o-callout-padding;
  width: 100%;
  margin-bottom: $o-callout-spacing;
}