// - - - - - - - - - - - - - - - - - - - - - - - - -
// Base
// - - - - - - - - - - - - - - - - - - - - - - - - -

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: column;
    line-height: 2;
    font-family: $font-family--normal;
}

.site-content {
    flex: 1;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
}


// Warnings
// - - - - -
.site-notice {
  width: 100%;
  float: left;

  &--warning {
    background-color: lighten(red, 20);
    border: 1px solid red;
  }
}


// iFrame Responivness
// - - - - -

@include breakpoint(small only) {
    iframe {
        width: 100%;
    }
}
