// - - - - - - - - - - - - - - - - - - - - - - - - -
// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  line-height: $line-height-headings;
}

h1,
.heading-1 {
  font-size: $font-size-heading-one;
}

h2,
.heading-2 {
  font-size: $font-size-heading-two;
}

h3,
.heading-3 {
  font-size: $font-size-heading-three;
}

h4,
.heading-4 {
  font-size: $font-size-heading-three;
}

h5,
.heading-5 {
  font-size: $font-size-heading-three;
}

h6,
.heading-6 {
  font-size: $font-size-heading-three;
}


// Buttons
a,
input[type="submit"],
input[type="button"],
button {
  cursor: pointer;
}

// Lists
ul {
  margin: 0;
}

a {
  color: $palette-primary;
}