// - - - - - - - - - - - - - - - - - - - - - - - - -
// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

a,
input[type="submit"],
input[type="button"],
button {
    cursor: pointer;
}
