// - - - - - - - - - - - - - - - - - - - - - - - - -
// Breadcrumbs
// - - - - - - - - - - - - - - - - - - - - - - - - -

.breadcrumbs {
  width: 100%;

  &__item {
    display: inline-block;

    &:not(:first-of-type):before {
      content: '\2044';
      padding-left: rem-calc(10);
      padding-right: rem-calc(10);
    }
  }
}
