// - - - - - - - - - - - - - - - - - - - - - - - - -
// Footer
// - - - - - - - - - - - - - - - - - - - - - - - - -

.site-footer {
  width: 100%;
  float: left;

  a {
    color: inherit;
  }

  &__row {
    @include flex-grid-row;
  }

  &__main {
    padding-top: $spacing-primary;
    padding-bottom: $spacing-primary;
  }

  &__bottom {
    padding-top: $spacing-secondary;
    padding-bottom: $spacing-secondary;
  }

  &__col {
    @include flex-grid-column(4);
  }
}

// Footer Links
.site-footer-nav {
  @include unstyled-list;
}

.site-social {
  display: flex;
  justify-content: center;

  &__item {
    display: inline-block;

    &:not(:first-of-type) {
      margin-left: rem-calc(8);
    }
  }
}
