// - - - - - - - - - - - - - - - - - - - - - - - - -
// Footer
// - - - - - - - - - - - - - - - - - - - - - - - - -

.site-footer {
  width: 100%;
  float: left;

  a {
    color: inherit;
  }

  &__row {
    @include flex-grid-row;
  }

  &__main {
    padding-top: $spacing-primary;
    padding-bottom: $spacing-primary;
  }

  &__bottom {
    padding-top: $spacing-secondary;
    padding-bottom: $spacing-secondary;
  }

  &__col {
    @include breakpoint(small up) {
      @include flex-grid-column(12);
      margin-bottom: rem-calc(15);
      margin-top: rem-calc(15);
    }

    @include breakpoint(medium up) {
      @include flex-grid-column(4);
    }
  }

  &__notice,
  &__bottom-nav {
    @include breakpoint(small up) {
      @include flex-grid-column(12);
    }

    @include breakpoint(medium up) {
      @include flex-grid-column(6);
    }
  }
}

// Social Links
.site-social {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  &__item {
    display: inline-block;

    &:not(:first-of-type) {
      margin-left: rem-calc(8);
    }
  }
}

// Footer Links
.site-footer-nav {
  width: 100%;

  &__list {
    @include unstyled-list;
  }
}

.site-footer-bottom-nav {
  width: 100%;

  @include breakpoint(small up) {
    text-align: left;
  }

  @include breakpoint(medium up) {
    text-align: right;
  }

  &__item {
    display: inline-block;

    &:not(:first-of-type):before {
      content: '|';
      padding-left: rem-calc(5);
      padding-right: rem-calc(9);
    }
  }
}