// - - - - - - - - - - - - - - - - - - - - - - - - -
// Header
// - - - - - - - - - - - - - - - - - - - - - - - - -

.site-header {
  @include clearfix;
  position: relative;

  a {
    text-decoration: none;
    color: $palette-secondary;
  }

  &__top,
  &__bottom {
    @include grid-row;
  }

  &__toggler {
    position: absolute;
    top: rem-calc(18);
    right: rem-calc(20);
    display: block;

    @include breakpoint(medium up) {
      display: none;
    }
  }
}

.site-logo {
  font-size: $font-size-heading-one;
}

.site-nav {
  width: 100%;

  &-wrapper {
    @include breakpoint(small up) {
      @include visually-hidden(-1);
      transition: opacity .2s linear;
      background-color: $palette-tertiary;
      position: absolute;
      padding: $spacing-tertiary;
      box-shadow: $box-shadow;

      &.is-active {
        @include visually-show(1);
      }
    }

    @include breakpoint(medium up) {
      background-color: transparent;
      position: static;
      padding: 0;
      @include visually-show(1);
    }
  }

  a {
    color: $palette-primary;

    @include breakpoint(medium up) {
      color: $palette-secondary;
    }

    &:hover {
      color: $palette-primary--lighter;
    }
  }

  // Navigation Items
  &__list {
    @include unstyled-list;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
  }

  // Each navigation item
  &__item {
    display: inline-block;
    position: relative;

    @include breakpoint(small up) {
      flex: 1 1 100%;
    }

    @include breakpoint(medium up) {
      flex: 1 1 auto;
    }
  }

  &__item--has-children:hover {
    .site-nav__sub-nav {
      @include breakpoint(medium up) {
        @include visually-show(1);
        transform: translateY(0px);
      }
    }
  }

  // Sub Navigation
  &__sub-nav {
    @include unstyled-list;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;

    a {
      color: $palette-primary;
    }

    @include breakpoint(medium up) {
      @include visually-hidden(-1);
      transform: translateY(-10px);
      transition: all .3s cubic-bezier(0.42,0,.58,1);
      position: absolute;
      display: block;
      padding: $spacing-secondary;
      background-color: $palette-tertiary;
      box-shadow: $box-shadow;
    }
  }
}
