// - - - - - - - - - - - - - - - - - - - - - - - - -
// :Helpers
// - - - - - - - - - - - - - - - - - - - - - - - - -

.sr-hidden {
  @include element-invisible;
}


// Background Colors
// ------------------


// Text Colors
// ------------------


// Text Helpers
// ------------------
._text--caps {
  text-transform: uppercase;
}

._text--c {
  text-align: center;
}

._text--r {
  text-align: right;
}
