// - - - - - - - - - - - - - - - - - - - - - - - - -
// Variables
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Color Variables
// - - - - -

// Local Colors
$white: #fff;
$light-grey: #edebec;
$dark-grey: #202021;
$black: #000000;
$red: #b74a48;
$green: #26b27b;

// Global Colors
$palette-primary: $black;
$palette-secondary: $light-grey;
$palette-tertiary: $white;

$palette-warning: $red;
$palette-success: $green;

$palette-heading: $dark-grey;
$palette-paragraph: lighten($dark-grey, 2);

// Typography
// - - - - -

// Font Sizes
$font-size-heading-one: rem-calc(32);
$font-size-heading-two: rem-calc(28);
$font-size-heading-three: rem-calc(24);
$font-size-heading-four: rem-calc(20);
$font-size-heading-five: rem-calc(18);

$font-size-primary: rem-calc(18);


// Font Famlily
$font-family-normal: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

// Line Heights

$line-height-base: 2;
$line-height-headings: 1.2;

// Spacing
// - - - - -
$spacing-primary: rem-calc(30);
$spacing-secondary: rem-calc(15);
$spacing-tertiary: rem-calc(5);


// Z Index index
// - - - - -
$z-stack: site, mobileMenu, siteOverlay, modal;

// Layout & Grid
// - - - - -
$global-width: 1165px;
$global-left: left;
$global-right: right;

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1065px,
  xlarge: 1200px,
  xxlarge: 1440px,
) !default;

$breakpoint-classes: (small medium large) !default;

$grid-row-width: $global-width;
$grid-column-count: 12 !default;
$grid-column-gutter: (
  small: 20px,
  medium: 30px,
) !default;

$grid-column-align-edge: true;
$block-grid-max: 8;
