// - - - - - - - - - - - - - - - - - - - - - - - - -
// Pagination
// - - - - - - - - - - - - - - - - - - - - - - - - -

.pagination {
  width: 100%;
  float: left;
}

.page-numbers {
  @include unstyled-list;

  &__item {
    display: inline-block;

    &:not(:last-of-type) {
      margin-right: rem-calc(15);
    }
  }
}
