// - - - - - - - - - - - - - - - - - - - - - - - - -
// Post Item
// - - - - - - - - - - - - - - - - - - - - - - - - -

.post {
  width: 33.333%;
  background-color: $palette-secondary;
  padding: $spacing-secondary;
  margin: $spacing-secondary;
}
