// - - - - - - - - - - - - - - - - - - - - - - - - -
// Post Item
// - - - - - - - - - - - - - - - - - - - - - - - - -

.post {
  background-color: $palette-tertiary;
  padding: $spacing-secondary;
  margin-top: $spacing-secondary;
  margin-bottom: $spacing-secondary;
  box-shadow: $box-shadow;

  &__title {
    color: $palette-heading;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
